.galada-regular {
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}

.Brother-1816-Printed-Regular {
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: #F5F1DC;
    padding-bottom: 80px;
}

/*TEKST*/
h1{
    font-family: "Galada", cursive;
    color: #102022;
    font-size: 3em;
    text-align: center;
    margin-top: 0em;
    line-height: 1;
    margin-bottom: 0em;
}

.grotetitel{
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

/*PROFILE*/
.profile {
    position: absolute;
    top: 10px;
    right: 10px;
    
}
.profile img {
    width: 60px  
}

/*HOME*/
.logohome{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logohome img{
    width: 250px;
}

.clubtitel{
  font-family: "Galada", cursive;
  font-weight: bold;
  font-size: 2em;
}
.intro {
    text-align: center;
    font-family: "brother-1816-printed", sans-serif;

}

.buttonophome{
  text-decoration: none;
  background-color: #780116;
  color: #F5F1DC;
  text-align: center;
  font-size: 2em;
  padding: 12px 30px;
  border-radius: 10px;
  display: block;
  margin: 0 auto 1.7em auto;
  width: 175px;
}

/*NAV BAR VANONDER*/
nav{
    background-color: #781118;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;              
    justify-content: center;    
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
    
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.icons img{
  width: 27px;
}

/*KALENDER*/
.event{
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #78111882;
    padding-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 1.2em;
    border-radius: 10px;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1em;
}

.kalenderfoto{
  width: 40px;
}

.titelevent {
    font-family: "Galada", cursive;
    color: white;
    font-size: 1.5em;
}

.kalenderinfo p {
    margin: 0;
    font-family: "brother-1816-printed", sans-serif;
}

.binnenkort{
   font-family: "Galada", cursive;
   font-size: 1.2em;
   font-weight: bolder;
    text-align: center;
    margin-top: 0;
}


/*MERCH*/
.winkelkar{
    position: fixed;
    top: 10px;
    left: 10px;
}


.winkelkar img{
    width: 60px;
}

.merchscroll {
    display: flex;
    flex-wrap: wrap;        
    gap: 1.5em;              
    justify-content: center; 
}

.merchrij {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 180px;           
}

.product{
    background-color: #78111882;
    border: 3px solid #781118;
    border-radius: 10px;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.onderschrift p{
    font-family: "brother-1816-printed", sans-serif;
    margin-top: 0.5em;
    text-align: center;
}

.merchscroll{
    padding-bottom: 100px;
}

/*MERCHITEM */
.merchkopen{
  text-align: center;
}

.bewaartitel{
  font-family: "Galada", cursive;
}

.vierkant{
  display: flex;
  justify-content: center;
}

.item{
  background-color: #78111882;
  border: 3px solid #781118;
  border-radius: 10px;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merchkopen{
    font-family: "brother-1816-printed", sans-serif;

}
.stemmen{
  font-family: "brother-1816-printed", sans-serif;
  font-weight: bold;
}

.buttonopmerchitem{
  font-family: "brother-1816-printed", sans-serif;
  text-decoration: none;
  background-color: #780116;
  color: #F5F1DC;
  text-align: center;
  font-size: 1.5em;
  padding: 12px 30px;
  border-radius: 50px;
  display: block;
  margin: 0 auto 1.7em auto;
  width: 175px;
}

/* MERCHINKAR*/
.Inhoudkar {
  font-family: "brother-1816-printed", sans-serif;
  border-bottom: 3px solid #781118;
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding-bottom: 1em;
  padding-left: 1.5em;
}

.vierkant2 img{
  width: 150px;
  height: 150px;
}

.buttonopmerchinkar{
  padding-top: 6.3em;
  margin-bottom: 2em;
}


/* Rating 1 */
.frituur,
.sterkroon{
    display: block;
    margin: 0 auto;
}

.sterkroon{
    padding-top: 1.5em;
}

.frituur img{
    width: 250px;
}

.links{
  text-decoration: none;
  background-color: #781118;
  color: #F5F1DC;
  text-align: center;
  font-size: 2em;
  padding: 12px 40px;
  border-radius: 10px;
  display: block;
  margin: 0 auto 0.5em auto;
  width: 175px;
}

/*Rating kaart*/
.ratingcard{
  font-family: "Galada", cursive;
  background-color: #78111882;
  width: 70%;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border: 3px solid #781118;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.klik{
  width: 40px;
}

.saus{
  color: white;
}


.helerating{
  border-bottom: 3px solid #781118;
}
.opmerking{
  position: relative;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.veld{
  width: 85%;
  padding: 0.7em 1em 7em 3em;
  border-radius: 10px;
  border: 2px solid #781118;
  margin-bottom: 1.5em;
}

.legefoto{
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
}
.fotoladen{
  display: flex;
  flex-direction: row;
}
.fotoladen a{
  font-family: "brother-1816-printed", sans-serif;
  text-decoration: none;
  background-color: #780116;
  color: #F5F1DC;
  text-align: center;
  font-size: 1em;
  padding: 12px 30px;
  border-radius: 50px;
  display: block;
  margin: 0 auto 1.7em auto;
  width: 150px;
}
.opslaan a{
  font-family: "brother-1816-printed", sans-serif;
  text-decoration: none;
  background-color: #780116;
  color: #F5F1DC;
  text-align: center;
  font-size: 1.5em;
  padding: 12px 30px;
  border-radius: 50px;
  display: block;
  margin: 0 auto 1.7em auto;
  margin-top: 1em;
  width: 175px;
}

/*SCOREBORD*/
.searchbar {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.search {
  width: 70%;
  padding: 0.7em 1em 0.7em 3em;
  border-radius: 20px;
  border: 2px solid #781118;
  margin-bottom: 1.5em;
}

.zoekicon{
  position: absolute;
  right: 55px;
  top: 10px;
}

.zoekicon img{
  width: 18px;
  height: 18px;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5em;
}

.dropdown select{
   background-color: #781118;
   color: #F5F1DC;
   padding: 0.5em;
   border-radius: 10px;
}

.scorebord {
  background-color: #B98A82;
  border: 3px solid #781118;
  border-radius: 15px;
  padding: 1em 1.2em;
  margin: 1.5em;
  
}

.scoretitel {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.scorelijst {
  font-family: "Galada", cursive;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.scorelijst li {  /* IK vond het heel moeilijk het uit te lijnen dus heb ik aan chatgpt gevraagd hoe dit kon en hoe de grid werkte*/
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 3em;
  padding: 0;
  color: white;
}

.sterren::after {
  color: #E36414;
  stroke: white;
  stroke-width: 5px;
  content: "★";  /* Ik heb dit sterretje opgezocht*/
}

.snack {
  font-weight: bold;
}

.getest {
  font-size: 1em;
}

.sterren {
  font-size: 1.5em;
}

