.galada-regular {
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}


body{
    background-color: #F5F1DC;
}

/*TEKST*/
h1{
    font-family: "Galada", cursive;
    padding-top: 0.3em;
    color: #102022;
    font-size: 3em;
    text-align: center;

}

/*PROFILE*/
.profile {
    position: fixed;
    top: 10px;
    right: 10px;
    
}
.profile img {
    width: 60px  
}

/*HOME*/
.logohome{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logohome img{
    width: 250px;
}

.intro {
    text-align: center;
}

.buttonophome{
  text-decoration: none;
  background-color: #780116;
  color: #F5F1DC;
  text-align: center;
  font-size: 2em;
  padding: 12px 30px;
  border-radius: 10px;
  display: block;
  margin: 0 auto 1.7em auto;
  width: 175px;
}

/*NAV BAR VANONDER*/
nav{
    background-color: #781118;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;              
    justify-content: center;    
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
    
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 4em;
}

/*KALENDER*/
.event{
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #78111882;
    padding-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 1.2em;
    border-radius: 10px;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1em;
}

.kalenderfoto{
  width: 40px;
}

.titelevent {
    color: white;
    font-size: 1.5em;
}

.kalenderinfo p {
    margin: 0;
}

.binnenkort{
    text-align: center;
}


/*MERCH*/
.winkelkar{
    position: fixed;
    top: 10px;
    left: 10px;
}


.winkelkar img{
    width: 60px;
}

section {
    display: flex;
    flex-wrap: wrap;        
    gap: 1.5em;              
    justify-content: center; 
}

.merchrij {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 180px;           
}

.product{
    background-color: #78111882;
    border: 3px solid #781118;
    border-radius: 10px;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.onderschrift p{
    margin-top: 0.5em;
    text-align: center;
}

.merchscroll{
    padding-bottom: 100px;
}